<div id="main-grid" class="ui middle aligned center aligned grid container">
    <div class="column">
        <div class="ui top attached text menu">
            <div class="item">
                <i class="credit card outline icon"></i>
                &nbsp;Walmart
            </div>
            <div class="right item">
                10/14/2020
            </div>
            <div class="right item">
                $100.00
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui four mini steps">
                <div class="step">
                    <i class="calendar alternate outline icon"></i>
                  <div class="content">
                    <div class="title">Payment</div>
                    <div class="description">Choose your plan</div>
                  </div>
                </div>
                <div class="active step">
                  <i class="pencil alternate icon"></i>
                  <div class="content">
                    <div class="title">eSign</div>
                    <div class="description">View eSign document</div>
                  </div>
                </div>
                <div class="disabled step">
                  <i class="balance scale icon"></i>
                  <div class="content">
                    <div class="title">Terms</div>
                    <div class="description">Confirm your plan</div>
                  </div>
                </div>
                <div class="step">
                    <i class="check icon"></i>
                    <div class="content">
                    <div class="title">Success</div>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="row" style="height: 33%">
                    <div class="column">
                        Header
                    </div>
                </div>
                <div class="row" style="height: 33%">
                    <div class="column">
                        Content
                    </div>
                </div>
                <div class="row" style="height: 33%">
                    <div class="column">
                        <button class="ui right floated button">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>